@model InventoryManage.Models.PersonalIndexViewModel
@{
    ViewData["Title"] = "主页";
}

<div class="col-md-12" id="grid-0">
    <div class="panel panel-widget" id="p01">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-desktop"></i>
            </span>
            <span class="panel-title"> 资产设备</span>
        </div>
        <div class="panel-body">
            @foreach (var a in Model.assetViewModel)
            {
                <div class="col-sm-3">
                    <div class="panel">
                        <div class="card card-cascade">
                            <div class="view gradient-card-header bg-aqua">
                                <h3>@Html.DisplayFor(x => a.Category)</h3>
                                <h4>@Html.DisplayFor(x => a.Name)</h4>
                                <div class="icon">
                                    <h3>@Html.DisplayFor(x => a.Number)</h3>
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <p class="card-text">@Html.DisplayFor(x => a.Detail)</p>
                            </div>
                            <div class="card-data">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> @Html.DisplayFor(x => a.Date)</li>
                                    <li><a href="#"><i class="fa fa-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }           
            <div class="col-sm-3">
                <div class="panel">
                    <div class="card card-cascade">
                        <div class="card-body text-center">
                            <a asp-controller="Invoice" asp-action="Add"><i class="fa fa-plus-square fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-widget" id="p02">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-asterisk"></i>
            </span>
            <span class="panel-title"> 耗材</span>
        </div>
        <div class="panel-body">
            <div class="col-sm-3">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>硒鼓</h3>
                        <p>LaserJet 12A</p>
                    </div>
                    <div class="icon">
                        <h3>5</h3>
                    </div>
                    <div class="small-box-footer">
                        <ul>
                            <li><i class="fa fa-clock-o"></i> 2018-01-08</li>
                            <li><a href="#"><i class="fa fa-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="small-box text-center">
                    <a asp-controller="Invoice" asp-action="Add"><i class="fa fa-plus-square fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-widget" id="p03">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-book"></i>
            </span>
            <span class="panel-title"> 申领记录</span>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <th>种类</th>
                        <th>型号</th>
                        <th>数量</th>
                        <th>申请理由</th>
                        <th>状态</th>
                        <th>审批意见</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2017-07-11</td>
                        <td>硒鼓</td>
                        <td>LaserJet 12A</td>
                        <td>2</td>
                        <td></td>
                        <td><span class="label label-success">通过</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2017-08-11</td>
                        <td>台式机</td>
                        <td>GX 620</td>
                        <td>1</td>
                        <td>测试</td>
                        <td><span class="label label-warning">未审批</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2017-08-11</td>
                        <td>台式机</td>
                        <td>optiplex 7040</td>
                        <td>1</td>
                        <td>测试</td>
                        <td><span class="label label-danger">拒绝</span></td>
                        <td>库存不足</td>
                    </tr>
                </tbody>
            </table>

            <div class="dataTables_info">1到10，共57条记录</div>
            <div class="dataTables_paginate">
                <ul>
                    <li class="prev disabled"><a href="#"><i class="fa fa-arrow-left"></i> 前一页</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next"><a href="#">后一页 <i class="fa fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>