@model InventoryManage.Models.PersonalIndexViewModel
@{
    ViewData["Title"] = "主页";
}

<div class="col-md-12" id="grid-0">
    <div class="panel panel-widget" id="p01">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-desktop"></i>
            </span>
            <span class="panel-title"> 资产设备</span>
        </div>
        <div class="panel-body">
            @foreach (var a in Model.AssetViewModel)
            {
                <div class="col-sm-3">
                    <div class="panel">
                        <div class="card card-cascade">
                            <div class="view gradient-card-header bg-aqua">
                                <h3>@Html.DisplayFor(x => a.Category)</h3>
                                <h4>@Html.DisplayFor(x => a.Name)</h4>
                                <div class="icon">
                                    <h3>@Html.DisplayFor(x => a.Number)</h3>
                                </div>
                            </div>

                            <div class="card-body text-center">
                                <p class="card-text">@Html.DisplayFor(x => a.Detail)</p>
                            </div>
                            <div class="card-data">
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> @Html.DisplayFor(x => a.Date)</li>
                                    <li><a asp-controller="Invoice" asp-action="Add" asp-route-equipmentId="@a.EquipmentId"><i class="fa fa-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-3">
                <div class="panel">
                    <div class="card card-cascade">
                        <div class="card-body text-center">
                            <a asp-controller="Invoice" asp-action="Add"><i class="fa fa-plus-square fa-5x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-widget" id="p02">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-asterisk"></i>
            </span>
            <span class="panel-title"> 耗材</span>
        </div>
        <div class="panel-body">
            @foreach (var a in Model.ConsumableViewModel)
            {
                <div class="col-sm-3">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@Html.DisplayFor(x => a.Category)</h3>
                            <p>@Html.DisplayFor(x => a.Name)</p>
                        </div>
                        <div class="icon">
                            <h3>@Html.DisplayFor(x => a.Number)</h3>
                        </div>
                        <div class="small-box-footer">
                            <ul>
                                <li><i class="fa fa-clock-o"></i> @Html.DisplayFor(x => a.Date)</li>
                                <li><a asp-controller="Invoice" asp-action="Add" asp-route-equipmentId="@a.EquipmentId"><i class="fa fa-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-3">
                <div class="small-box text-center">
                    <a asp-controller="Invoice" asp-action="Add"><i class="fa fa-plus-square fa-5x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-widget" id="p03">
        <div class="panel-heading ui-sortable-handle">
            <span class="panel-icon">
                <i class="fa fa-book"></i>
            </span>
            <span class="panel-title"> 申领记录</span>
        </div>
        <div class="panel-body">
            <div id="invoice_partial">
                @await Html.PartialAsync("PersonalInvoicePartial", Model.InvoiceList)
            </div>
            <div class="dataTables_paginate" id="indexPagination"></div>
        </div>        
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#indexPagination').pagination({
                items: @Model.InvoiceList.TotalItems,
                itemsOnPage: @Model.InvoiceList.PageSize,
                pages: @Model.InvoiceList.TotalPages,
                cssStyle: '',
                prevText: '<i class="fa fa-arrow-left"></i>',
                nextText: '<i class="fa fa-arrow-right"></i>',
                onPageClick: function (pageNumber) {
                    $.ajax({
                        url: "@Url.Action("InvoiceList", "Home")",
                        type: "GET",
                        data: "pageSize=" + this.itemsOnPage + "&page=" + pageNumber,
                        success: function (htm) {
                            $('#invoice_partial').html(htm);
                        }
                    });
                }
            });
        });
    </script>
}
