@model  PaginatedList<ApproveInvoiceViewModel>

@{
    ViewData["Title"] = "设备审批";
}

<div class="col-md-12" id="grid-0">
    <section class="panel">
        <header class="panel-heading custom-tab ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#all" data-toggle="tab" aria-expanded="true">所有申请</a>
                </li>
                <li class="">
                    <a href="#assets" data-toggle="tab" aria-expanded="false">固定资产</a>
                </li>
                <li class="">
                    <a href="#consumables" data-toggle="tab" aria-expanded="false">耗材</a>
                </li>
            </ul>
        </header>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="all">
                    <div class="dataTables_length">
                        <div class="form-check">
                            <input name="UnhandledCheck" type="checkbox"/><label>未审批</label>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="dataTables_filter">
                            <input type="text" id="ipt_search" aria-controls="dynamic-table" />
                            <button class="btn" id="btn_search"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    
                    <div id="invoices_partial">
                        @await Html.PartialAsync("InvoicesPartial", Model)
                    </div>
                    <div class="dataTables_paginate" id="invoicesPagination"></div>                    
                </div>

                <div class="tab-pane" id="assets">
                    <p>固定资产</p>
                </div>
                <div class="tab-pane" id="consumables">
                    <p>耗材</p>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#invoicesPagination').pagination({
                items: @Model.TotalItems,
                itemsOnPage: @Model.PageSize,
                pages: @Model.TotalPages,
                cssStyle: '',
                prevText: '<i class="fa fa-arrow-left"></i>',
                nextText: '<i class="fa fa-arrow-right"></i>',
                onPageClick: function (pageNumber) {
                    getInvoiceList(pageNumber);
                }
            });
        });
        function getInvoiceList(pageNum) {
            $.ajax({
                url: "@Url.Action("InvoiceList", "Invoice")",
                type: "GET",
                data: "pageSize=" + @Model.PageSize + "&page=" + pageNum + "&filter=" + $('#ipt_search').val()
                + "&unhandled=" + $('input[name="UnhandledCheck"]').prop("checked"),
                success: function (htm) {
                    $('#invoices_partial').html(htm);
                    $('#invoicesPagination').pagination('updateItems', $('#items_update').html());
                }
            });
        }

        $(document).on('click', '#btn_search', function () {
            getInvoiceList(1)
        });
        $(document).on('keyup', '#ipt_search', function (e) {
            if (e.keyCode == 13) {
                getInvoiceList(1);
            }
        });
        $('input[name="UnhandledCheck"]').change(function () {
            getInvoiceList(1);
        });

        function showCategoryList() {
            var cur_form = $(this).parent().parent().parent();
            var data_list = cur_form.find('datalist[name=CategoryList]');;
            $.ajax({
                url: "@Url.Action("GetCategoryList", "Equipment")",
                type: "GET",
                data: { "type": cur_form.find('select[name$=Type]').val() },
                dataType: "json",
                success: function (data) {
                    data_list.empty();
                    for (var i = 0; i < data.length; i++) {
                        data_list.append("<option value='" +
                            data[i].category + "'>" + data[i].category +
                            "</option>");
                    }
                }
            });
        }
        function showNameList() {
            var cur_form = $(this).parent().parent().parent();
            var name_list = cur_form.find('datalist[name=NameList]');
            $.ajax({
                url: "@Url.Action("GetNameList", "Equipment")",
                type: "GET",
                data: {
                    "type": cur_form.find('select[name$=Type]').val(),
                    "category": cur_form.find('input[name$=Category]').val()
                },
                dataType: "json",
                success: function (data) {
                    name_list.empty();
                    for (var i = 0; i < data.length; i++) {
                        name_list.append("<option value='" +
                            data[i].name + "'>" + data[i].name +
                            "</option>");
                    }
                }
            })
        }
        function showDetailList() {
            var cur_form = $(this).parent().parent().parent();
            var detail_list = cur_form.find('datalist[name=DetailList]');
            $.ajax({
                url: "@Url.Action("GetDetailList", "Equipment")",
                type: "GET",
                data: {
                    "type": cur_form.find('select[name$=Type]').val(),
                    "category": cur_form.find('input[name$=Category]').val(),
                    "name": $(this).val()
                },
                dataType: "json",
                success: function (data) {
                    detail_list.empty();
                    for (var i = 0; i < data.length; i++) {
                        detail_list.append("<option value='" +
                            data[i].detail + "'>" + data[i].detail +
                            "</option>");
                    }
                }
            })
        }

        $(document).on('input', 'input[name$=Category]', showCategoryList);
        $(document).one('click', 'input[name$=Category]', showCategoryList);
        $(document).on('input', 'input[name$=Name]', showNameList);
        $(document).one('click', 'input[name$=Name]', showNameList);
        $(document).on('input', 'input[name$=Detail]', showDetailList);
        $(document).one('click', 'input[name$=Detail]', showDetailList);
</script>
}