@model  InventoryManage.Models.PaginatedList<InventoryManage.Models.Equipment>

<table class="table table-bordered adv-table" id="dynamic-table">
    <thead>
        <tr role="row">
            <th class="sorting" role="columnheader" aria-controls="dynamic-table">@Html.DisplayNameFor(x => Model.FirstOrDefault().Category)</th>
            <th class="" role="columnheader" aria-controls="dynamic-table">@Html.DisplayNameFor(x => Model.FirstOrDefault().Name)</th>
            <th class="" role="columnheader" aria-controls="dynamic-table">@Html.DisplayNameFor(x => Model.FirstOrDefault().Number)</th>
            <th class="" role="columnheader" aria-controls="dynamic-table">@Html.DisplayNameFor(x => Model.FirstOrDefault().Detail)</th>
            <th role="columnheader" aria-controls="dynamic-table" style="width:200px"></th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < Model.Count(); ++i)
        {
            <tr class="odd">
                <td>@Html.DisplayFor(x => Model[i].Category)</td>
                <td>@Html.DisplayFor(x => Model[i].Name)</td>
                <td>@Html.DisplayFor(x => Model[i].Number)</td>
                <td>@Html.DisplayFor(x => Model[i].Detail)</td>
                <td class="center">
                    <a href="#modal_edit_@i" data-toggle="modal" class="btn btn-info"><i class="fa fa-edit"></i> 修改</a>
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_edit_@i" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
                                    <h3 class="modal-title">修改设备</h3>
                                </div>
                                <div class="modal-body">

                                    <form asp-action="Edit" class="form-horizontal" method="post">
                                        <input asp-for="@Model[i].EquipmentId" name="EquipmentId" type="hidden" />
                                        <div class="form-group">
                                            <label asp-for="@Model[i].Type" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <select asp-for="@Model[i].Type" name="Type" asp-items="@Html.GetEnumSelectList<InventoryManage.Models.EquipmentType>()" class="form-control"></select>
                                                <span asp-validation-for="@Model[i].Type" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model[i].Category" class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <input asp-for="@Model[i].Category" name="Category" list="CategoryList_@i" class="form-control" />
                                                <datalist id="CategoryList_@i" name="CategoryList"></datalist>
                                                <span asp-validation-for="@Model[i].Category" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model[i].Name" class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <input asp-for="@Model[i].Name" name="Name" list="NameList_@i" class="form-control" />
                                                <datalist id="NameList_@i" name="NameList"></datalist>
                                                <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model[i].Detail" class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <input asp-for="@Model[i].Detail" name="Detail" list="DetailList_@i" class="form-control" />
                                                <datalist id="DetailList_@i" name="DetailList"></datalist>
                                                <span asp-validation-for="@Model[i].Detail" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="@Model[i].Number" class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <input asp-for="@Model[i].Number" name="Number" class="form-control" />
                                                <span asp-validation-for="@Model[i].Number" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-2">
                                                <button class="btn btn-info" type="submit"><i class="fa fa-edit"></i> 确认</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#modal_del_@i" data-toggle="modal" class="btn btn-danger"><i class="fa fa-trash-o"></i> 删除</a>
                    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modal_del_@i" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="fa fa-times"></i></button>
                                    <h3 class="modal-title">删除设备</h3>
                                </div>
                                <div class="modal-body">
                                    <form asp-action="Delete" class="form-horizontal" method="post">
                                        <input asp-for="@Model[i].EquipmentId" name="EquipmentId" type="hidden" />
                                        <div class="form-group">
                                            确认删除 @Html.DisplayFor(x => Model[i].Name) ？
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-2">
                                                <button class="btn btn-danger" type="submit"><i class="fa fa-trash-o"></i> 删除</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="dataTables_info">@Model.StartItem 到 @Model.EndItem ，共 @Model.TotalItems 条记录</div>
<div id="items_update" style="display:none">@Model.TotalItems</div>
